.nav-bar {
    width:auto;
    Display: flex;
    justify-content: space-between;
    background-color: #0acf9e73;
    border-width: 0;
}

.home-page {
    list-style: none;
}


.pages{
  Display: flex;
  list-style: none;
  justify-content:space-between;
}

.pages li{
    padding-left:0.75rem;
    padding-right:0.75rem;
}

